{{#partial "body"}}
    <div class="contenedor_prendas">
        <div class="container" style="margin-bottom: 20px;">
            <div class="row" style="padding-top:10px;">
                <div class="col">
                    <h5 class="card-title text-capitalize">{{nombre}}</h5>
                </div>
                <div class="col" style="text-align: right;">
                    <form action="/guardarropas/{{id}}/prendas/wizard" method="GET" >
                        <button class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
        {{#each prendasSuperiores}}
            <div class="card mb-3 shadow prenda">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {{#if imagen}}
                                <img src="{{this.imagen.url}}" class="card-img imagen_prenda" alt="Remera">
                        {{else}}
                                <img src="/remera.png" class="card-img imagen_prenda" alt="Remera">
                        {{/if}}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize">{{nombre}}</h5>
                            <p class="card-text"><small class="text-muted">La prenda podria estar siendo usada por alguien mas.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each prendasInferiores}}
            <div class="card mb-3 shadow prenda">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/remera.png" class="card-img imagen_prenda" alt="Remera">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize">{{nombre}}</h5>
                            <p class="card-text"><small class="text-muted">La prenda podria estar siendo usada por alguien mas.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each accesorios}}
            <div class="card mb-3 shadow prenda">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/remera.png" class="card-img imagen_prenda" alt="Remera">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize">{{nombre}}</h5>
                            <p class="card-text"><small class="text-muted">La prenda podria estar siendo usada por alguien mas.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each calzados}}
            <div class="card mb-3 shadow prenda">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/remera.png" class="card-img imagen_prenda" alt="Remera">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize">{{nombre}}</h5>
                            <p class="card-text"><small class="text-muted">La prenda podria estar siendo usada por alguien mas.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/partial}}
{{>encabezado.hbs}}